<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11">
        <div class="card ">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">person</i>
            </div>
            <h4 class="card-title">Add User</h4>
          </div>
          <div class="card-body ">
            <form [formGroup]="formUser">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="First Name" type="text" formControlName="firstName">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Last Name" type="text" formControlName="lastName">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="PSN Name" type="text" formControlName="psnName">
              </mat-form-field>
         
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Phone Number" type="text" formControlName="phoneNumber">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email Address" type="email" formControlName="email">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" type="password" formControlName="password">
              </mat-form-field>
            </form>
            <div class="card-footer ">
              <button mat-raised-button type="submit" (click)="onSubmit()" class="btn btn-fill btn-rose">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>