<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
            <div class="row">
             
            </div>
            
            
              <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">person</i>
                  </div>
                  <h4 class="card-title">User Tournaments</h4>
                </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                                  <thead>
                                      <tr>
                                        <th class="text-center">{{ tableData1.headerRow[0] }}</th>
                                        <th class="text-center">{{ tableData1.headerRow[1] }}</th>
                                        <th class="text-center">{{ tableData1.headerRow[2] }}</th>
                                        <th class="text-center">{{ tableData1.headerRow[3] }}</th>
                                      </tr>
                                  </thead>
                                <tbody>
                                    <tr *ngFor="let row of tournaments">
                                        <td class="text-center" >{{row.name}}</td>
                                        <td class="text-center">{{row.entryFee}}</td>
                                        <td class="text-center">{{row.prizeMoney}}</td>
                                        <td class="text-center">{{row.startDate}}</td>
                                     
                                      
                                    </tr>
                                </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
